{% extends "secondary_base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2>{% trans "Delete participant" %} {{ object.first_name }} {{ object.last_name }}</h2>
<p>{% trans "Are you sure you want to delete this participant?" %}</p>
<form action="." method="post" class="form">
  {% csrf_token %}
  {% buttons %}
  <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {% trans "Confirm" %}</button>
  {% endbuttons %}
</form>
{% endblock %}
