{% extends "secondary_base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}

{% if registration_config.registration_is_freezed %}
<div class="alert alert-warning" role="alert">
  {% trans "Registration has been frozen. You cannot register new teams or participants but you can still modify the order of your teams." %}
</div>
{% endif %}

{% if registration_config.registration_has_ended %}
<div class="alert alert-warning" role="alert">
  {% trans "Registration has ended, below you can check which teams were approved for the contest." %}
</div>
{% endif %}

<h2 class="text-center">{% trans "General information" %}</h2>

{% if registration_config.registration_is_active %}
<form action="." method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {% trans "Save" %}</button>
  {% endbuttons %}
</form>
{% else %}
<dl>
  <dt>{% trans "Institute name" %}:</dt>
  <dd>{{ coach_profile.institute_name }}</dd>
  <dt>{% trans "Institute type" %}:</dt>
  <dd>{{ coach_profile.get_institute_type_display }}</dd>
  <dt>{% trans "Accomodation required" %}:</dt>
  <dd>{{ coach_profile.accomodation_required|yesno }}</dd>
  <dt>{% trans "Institute address" %}:</dt>
  <dd>{{ coach_profile.institute_address }}</dd>
  <dt>{% trans "Institute nip" %}:</dt>
  <dd>{{ coach_profile.institute_nip }}</dd>
  <dt>{% trans "Comment" %}:</dt>
  <dd>{{ coach_profile.comment }}</dd>
</dl>
{% endif %}

{% if coach_profile.is_filled %}
<h2 class="text-center">{% trans "Teams" %}</h2>

<p>{% trans "The final contest team list will be filled by choosing teams from each institutes team list. The order in which you provide the teams matters. After you create your teams please drag-and-drop them into an order based on their importance." %}</p>
<div class="teams-container">
{% for team in team_list %}
<div class="panel panel-default" data-id="{{ team.pk }}">

  <div class="panel-heading">
    {% if not registration_config.registration_is_freezed %}
    <a href="{% url 'team.views.delete' team.pk %}" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i> {% trans "Remove" %}</a>
    {% endif %}
    <h5>{% trans "Team" %} <span class="team-order">{{ team.order }}</span></h5>
  </div>

  <div class="panel-body">

    {% if team.participant_count < 2 or team.participant_count > 3 %}
    <div class="alert alert-warning" role="alert">
      {% trans "The team participant count is not valid. For a team to be considered for the contest it should have between 2 and 3 participants." %}
      <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

    {% if team.approved %}
    <div class="alert alert-success" role="alert">
      {% trans "Congratulations! This team has been approved and will take part in the contest." %}
    </div>
    {% endif %}

    {% if team.participants.all %}
    <table class="table table-stripped table-condensed" data-team-id="{{ team.pk }}">
      <thead>
        <tr>
          <th>{% trans "First name" %}</th>
          <th>{% trans "Last name" %}</th>
          <th>{% trans "Shirt size" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        {% for participant in team.participants.all %}
        <tr>
          <td>{{ participant.first_name }}</td>
          <td>{{ participant.last_name }}</td>
          <td>{{ participant.shirt_size }}</td>
          <td class="text-right">
            {% if not registration_config.registration_is_freezed %}
            <div class="btn-group" role="group">
              <a href="{% url 'participant.views.edit' team.pk participant.pk %}" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a>
              <a href="{% url 'participant.views.delete' team.pk participant.pk %}" class="btn btn-xs btn-default"><i class="fa fa-trash-o"></i> {% trans "Remove" %}</a>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    {% else %}
    <h4 class="text-center">{% trans "No participants in this team yet." %}</h4>
    {% endif %}

    {% if team.participant_count < 3 and not registration_config.registration_is_freezed %}
    <a href="{% url 'participant.views.create' team.pk %}" class="btn btn-primary btn-block"><i class="fa fa-user"></i> {% trans "Add new participant" %}</a>
    {% endif %}

  </div>

</div>
{% empty %}
{% if not registration_config.registration_is_freezed %}
<h3 class="text-center">{% trans "No teams to show, you can add teams using the button below." %}</h3>
{% endif %}
{% endfor %}
</div>
{% if not registration_config.registration_is_freezed %}
<a href="{% url 'team.views.create' %}" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> {% trans "Add new team" %}</a>
{% endif %}
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    var checked = $('#id_accomodation_required').is(':checked');
    if (!checked) {
      $('#id_institute_address').parent().hide();
      $('#id_institute_nip').parent().hide();
    }
    $('#id_accomodation_required').change(function(){
      $('#id_institute_address').parent().toggle();
      $('#id_institute_nip').parent().toggle();
    });

    {% if registration_config.registration_is_active %}
    $('.teams-container').sortable({
      stop: function(event, ui) {
        var order = 1;
        var json = []; // The json data sent to the server on sort.

        /* When the user drops the team get the ordering of all the teams
         * and put in into the json array. */
        $('.teams-container').children().each(function(){

          json.push({
            id: $(this).attr('data-id'),
            order: order,
          });

          // Change the order displayed on the page.
          $(this).find('.team-order').text(order);

          // The next item will have the next order.
          order += 1;
        });

        // Send the order to the server.
        $.ajax({
          type: 'post',
          url: 'reorder/',
          data: {
            data: JSON.stringify(json),
          },
          error: function(p){
            alert("Connection error, try again later.");
          },
        });
      },
    });
    {% endif %}
  });
</script>
{% endblock %}
