{% extends "secondary_base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2>{% trans "Registration" %}</h2>
{% static "files/regulations.pdf" as regulations_url %}
<p>{% blocktrans %}Please register a coach account to manage teams and participants. Registering an account means that you accept the contests <a href="{{ regulations_url }}">regulations</a>.{% endblocktrans %}</p>
<form action="." method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans "Submit" %}</button>
  {% endbuttons %}
</form>
{% endblock %}
