{% load staticfiles %}
{% load i18n %}
{% load flatpages %}
{% load solo_tags %}
{% get_solo 'team_registration.TeamRegistrationConfiguration' as registration_config %}

<!DOCTYPE html>
<html lang="pl">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans "Podlachia Team Programming Contest 2015" %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>

        {% include "usermenu.html" %}

        <li class="sidebar-brand">
          {% trans "Navigation" %}
        </li>
        <li>
          <a href="#top">{% trans "Home" %}</a>
        </li>
        <li>
          <a href="#about">{% trans "About" %}</a>
        </li>
        <li>
          <a href="#features">{% trans "Details" %}</a>
        </li>
        <li>
          <a href="#sponsors">{% trans "Sponsors" %}</a>
        </li>
        <li>
          <a href="#news">{% trans "News" %}</a>
        </li>
        <li>
          <a href="#contact">{% trans "Contact" %}</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
      <div class="text-vertical-center text-center">
        <div>
          <div class="title">
            <h1>{% blocktrans context "Logo text" %}Podlachia Team Programming Contest{% endblocktrans %}</h1>
            <h3>{% trans "Register a team and take part!" %}</h3>
          </div>
        </div>
        <br/>
        <ul class="navigation-buttons">
          {% if registration_config.registration_active %}
          <li><a href="{% url "team.views.management" %}" class="btn btn-primary btn-lg"><i class="fa fa-users"></i> {% trans "Register teams" %}</a></li>
          {% elif registration_config.not_started %}
          <li>
            <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="{% trans "Team registration will start on" %} {{ registration_config.start|date:"d M Y" }} {{ registration_config.start|time:"H:i" }}.">
              <a href="#" class="btn btn-primary btn-lg" disabled="disabled"><i class="fa fa-users"></i> {% trans "Register teams" %}</a>
              </div>
          </li>
          {% elif registration_config.has_ended %}
          <li>
            <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="{% trans "Team registration has ended on" %} {{ registration_config.end|date:"d M Y" }} {{ registration_config.end|time:"H:i" }}.">
              <a href="#" class="btn btn-primary btn-lg" disabled="disabled"><i class="fa fa-users"></i> {% trans "Register teams" %}</a>
            </div>
          </li>
          {% else %}
          <li>
            <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="{% trans "Team registration currently disabled." %}">
              <a href="#" class="btn btn-primary btn-lg" disabled="disabled"><i class="fa fa-users"></i> {% trans "Register teams" %}</a>
            </div>
          </li>
          {% endif %}
          <li><a href="#about" class="btn btn-dark btn-lg"><i class="fa fa-info"></i> {% trans "More info" %}</a></li>
        </ul>
      </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>{% trans "Podlachia Team Programming Contest" %}</h2>
            <p class="lead">{% trans "An annual programming event created by, and organized at the Białystok University of Technology Information Technology Faculty on which 30 two to three person teams compete with each other for the Białystok University of Technology Information Technology Faculty deans cup in two age categories - school, and university levels." %}</p>
            <h3><a href="{% static "files/regulations.pdf" %}">{% trans "Regulations" %}</a></h3>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="features" class="services bg-primary">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-10 col-lg-offset-1">
            <h2>{% trans "Details" %}</h2>
            <hr class="small">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-users fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>{% trans "Teams" %}</strong>
                  </h4>
                  <p>{% trans "Teams can consist of from two to three." %}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-cubes fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>{% trans "Six winning teams" %}</strong>
                  </h4>
                  <p>{% trans "Three winning places in two age categories - school level and university level." %}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-home fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>{% trans "Accommodation" %}</strong>
                  </h4>
                  <p>{% trans "For arrival teams for an additional charge an accommodation is provided in Białystok University of Technology, and Białystok University dorms" %}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-calendar fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>{% trans "Convinient time and place" %}</strong>
                  </h4>
                  <p>{% trans "21-22 od March (Hooky Day) is the perfect time to run off from classes to Białystok University of Technology Information Technology Faculty building and win yourself a trophy." %}</p>
                </div>
              </div>
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

    <aside id="sponsors" class="callout">
      <h2 class="text-center">{% trans "Sponsors" %}</h2>
      <hr class="small" />
      {% get_flatpages '/sponsors/' as sponsors_pages %}
      {% for page in sponsors_pages %}
      {{ page.content|safe }}
      <hr class="small" />
      {% endfor %}
      <h3 class="text-center"><a class="btn btn-dark btn-lg" href="#contact"><i class="fa fa-usd"></i> {% trans "Become a sponsor" %}</a></h3>
    </aside>

    <!-- News -->
    <section id="news" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <h2 class="text-center">{% trans "News" context "Plural" %}</h2>
            <hr class="small">
            {% block content %}{% endblock %}
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
    </aside>

    {% include "footer.html" %}
    {% include "scripts.html" %}

</body>

</html>
