{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pl">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans "Podlachia Team Programming Contest 2015" %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        {% if user.is_authenticated %}
        <li class="sidebar-brand">
          {% trans "Welcome" %} {{ user.username }}
        </li>
        <li>
          <a href="{% url "team.views.management" %}">{% trans "Register teams" %}</a>
        </li>
        <li>
          <a href="{% url "auth_password_change" %}">{% trans "Change password" %}</a>
        </li>
        <li>
          <a href="{% url "auth_logout" %}">{% trans "Log out" %}</a>
        </li>
        {% else %}
        <li class="sidebar-brand">
          {% trans "Welcome" %}
        </li>
        <li>
          <a href="{% url "registration_register" %}">{% trans "Register" %}</a>
        </li>
        <li>
          <a href="{% url "auth_login" %}?next={{ request.path }}">{% trans "Log in" %}</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <header class="callout">
      <div class="text-center text-vertical-center">
        <div>
          <div class="title">
            <h1><a href="/">{% blocktrans context "Logo text" %}Podlachia Team Programming Contest{% endblocktrans %}</a></h1>
          </div>
        </div>
      </div>
    </header>

    <section class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            {% block content %}{% endblock %}
          </div> <!-- /.col-lg-10 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section>

    <aside class="call-to-action bg-primary"></aside>
    {% include "footer.html" %}
    {% include "scripts.html" %}
    {% block scripts %}{% endblock %}
  </body>
</html>
