{% load i18n %}
{% load solo_tags %}
{% get_solo 'team_registration.TeamRegistrationConfiguration' as registration_config %}

{% if user.is_authenticated %}
<li class="sidebar-brand">
  {% trans "Welcome" %} {{ user.username }}
</li>
{% if user.is_staff %}
<li>
  <a href="{% url "admin:index" %}">{% trans "Admin panel" %}</a>
</li>
{% endif %}
{% if registration_config.registration_active %}
<li>
  <a href="{% url "team.views.management" %}">{% trans "Register teams" %}</a>
</li>
{% endif %}
<li>
  <a href="{% url "auth_password_change" %}">{% trans "Change password" %}</a>
</li>
<li>
  <a href="{% url "auth_logout" %}">{% trans "Log out" %}</a>
</li>
{% else %}
<li class="sidebar-brand">
  {% trans "Welcome" %}
</li>
<li>
  <a href="{% url "registration_register" %}">{% trans "Register" %}</a>
</li>
<li>
  <a href="{% url "auth_login" %}?next={{ request.path }}">{% trans "Log in" %}</a>
</li>
{% endif %}

